*.ipynb_checkpoints
docs/_build/
docs/tutorial_notebooks/data
docs/tutorial_notebooks/saved_models
docs/tutorial_notebooks/.idea
*.py
docs/tutorial_notebooks/tutorial9/tensorboard
docs/tutorial_notebooks/JAX/tutorial9/tensorboard
docs/tutorial_notebooks/scaling/JAX/traces
docs/tutorial_notebooks/tutorial11/*.py
docs/tutorial_notebooks/tutorial2/*.tar
docs/tutorial_notebooks/tutorial2/runs/
docs/tutorial_notebooks/JAX/tutorial2/my_checkpoint*
docs/tutorial_notebooks/DL2/Geometric_deep_learning/mnist*
docs/tutorial_notebooks/DL2/deep_probabilistic_models_I/blog-authorship.json
docs/test_build.sh
.DS_Store
